{% extends "DemoBundle::layout.html.twig" %}
{% block content %}
    <img src="{{asset('images/logo.gif')}}"alt="mi logo!"/>
    El articulo solicitado es: {{ articulo }}
    {#{% include ‘MDWDemoBundle:Blog:articuloDetalles.html.twig’ with {‘articulo’: articulo} %}#}
    
    {{ articulo | raw }} {# evita el escapado de variables #} 
    {# fuerza el escapado de variables (opción por defecto en Symfony2) #} 
    {{ articulo | escape }}

    {#Si no existe la variable usa el valor por defecto#}
    {{ articulo | default('valor por defecto') }}
    
    {#comprobar si tenemos declarada una variable#}
    {% if variable is defined %}
        {#aplicar operaciones si no se ha declarado la variable#}
        {{ variable | capitalize }} {# capitaliza el primer carácter de la cadena #} 
        {{ variable | lower }} {# convierte a minúsculas la cadena #} 
        {{ variable | upper }} {# convierte a mayúsculas la cadena #} 
        {{ variable | title }} {# capitaliza cada palabra de la cadena #}
        
        {% filter upper %} 
            Todo el texto de aquí será convertido a mayúsculas 
        {% endfilter %}

        
        {#fechas#}
        {{ variable | date("m/d/Y", "Europe/Paris")}}
        {# "now" nos devuelve la fecha/hora actual #} 
        {{ "now" | date("m/d/Y") }}

    {% endif %}
    
    {#formato numerico#}
    {{ 2500.333 | number_format(2, ',', '.') }}

    {% set url_share = 'http://rogamainformatica.es' ~ path('blog_article', {'year' : 
        (article.created|date('Y')),'month' : (article.created|date('m')),'slug' : article.slug }) %}
        <!-- Coloca esta etiqueta donde quieras que se muestre el botón +1. -->

    <g:plusone	size="medium" href="{{url_share}}"></g:plusone>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url_share	}}" data-lang="es">
        Twittear
    </a> 
    <div class="fb-like" data-href="{{ url_share }}" data-send="false" data- layout="button_count" data-width="100" data-show-faces="true"></div>
    
{% endblock %}
